
:root{
    --border-left : 5em;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    /* background-color: #f0f0f0;  */
}

.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px var(--border-left);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 2; 
    background-color: #fff;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    display: inline;
    margin-left: 20px; 
}

.navbar-links ul li:first-child {
    margin-left: 0; 
}

.navbar-links ul li a {
    text-decoration: none;
    color: black;
}

.navbar-social {
    display: flex;
    align-items: center;
}

.navbar-social a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}


.presenta {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: var(--border-left);
}

.presenta h1{
    font-size: 80px;
}


.wrapper span{
    animation: animate 5s infinite 0s;
    color: #212F3C;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    
    
}

.wrapper span:nth-child(1){
    animation-delay: 1s
}

.wrapper span:nth-child(2){
    animation-delay: 2s
}

.wrapper span:nth-child(3){
    animation-delay: 3s
}
.wrapper span:nth-child(4){
    animation-delay: 4s
}
.wrapper span:nth-child(5){
    animation-delay: 5s
}

@keyframes animate{
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 1}
}


.container {
    position: relative;
  }
  
  .animated-image {
    position: absolute;
    animation: moveUpDown 2s ease-in-out infinite;
    /* left: -300px; */
    right: 100px;
    /* bottom: 0; */
    z-index: -1;
    transform: scaleX(-1);
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
      /* transform: scaleX(-1); */
    }
    50% {
      transform: translateY(20px); /* Ajusta la distancia de movimiento vertical */
    }
  }


/* Estilos para el botón de hamburguesa en dispositivos móviles */
.navbar-toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}


/* Estilos de secciones**/

.experience{
    background-color: #212F3C;
    padding: 6em var(--border-left);
}

.experience h3{
    font-size: 40px;
    color: #fff;
}

.container__experience{
    /* padding-left: var(--border-left)_ */
}
.experience p{
    color: #fff;
    font-size: 13px;
    margin: 1em;
}


/********* Seccion de favoritive tool*********************/

.card__main__tool{
    display: flex;
}

.tools__experience{
    padding: 6em var(--border-left);
}

.tools__experience h3{
    font-size: 40px;
    color: black;
}

  
.scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
  
  .scroll-content {
    display: flex;
    animation: scroll 12s linear infinite;
    width: max-content;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-300px * 4)); /* 300px es el ancho de cada elemento y 4 es la cantidad de elementos */
    }
  }
  
  .scroll-item {
    flex: 0 0 auto;
    width: 300px;
    height: 100%; /* Ajusta la altura según tus necesidades */
    background-color: #f0f0f0;
    text-align: center;
    font-size: 24px;
    line-height: 200px;
    margin-right: 10px;
  }
  
  


  
  
  
  
  
  

/** Mi experiencia **/


.list_experiencie{
    display: flex;
}

/* Estilos para hacer el navbar responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-links {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .presenta {
        height: 100vh;
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .presenta h1{
        font-size: 30px;
    }

    .navbar-social{
        justify-content: center;
        width: 100%;
    }
}







  
  
  
  
